{% extends 'photos/base.html' %}

{% block some_page_contents %}
<table class="table table-bordered t" align="center" style=" background-color:#FFFAF0; hight:100%">
    {% for image in req_class %}
        <div class="pin">
            <td style="padding: 10px ">
                <a href="{% url 'photos:test' image.id %}" >
                    <img class="card-img-top" src="{{ PHOTOS_URL }}media/photos/{{ image.name }}" alt="Card image cap"  style="display: block; margin: 0 auto;"/>
                </a>
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <a href="{% url 'photos:test' image.id %}" class="btn btn-primary"  style=" margin: 0 auto;">Go somewhere</a>
                </div>
            </td>
        </div>
    {% endfor %}

</table>
{% endblock %}